<div class="header">
  <img src="assets/logo.png" alt="">
</div>
<div class="big-container">
  <div class="sidebar">
    <button class="button" *ngIf="showChallenges === false" (click)="setChallenges(true)">Challenges</button>
    <button class="button" *ngIf="showChallenges === true" (click)="setChallenges(false)">Review</button>
  </div>
  <div class="container" *ngIf="showChallenges === false">
    <div class="picture">
      <img [src]="currentUrl" alt="" *ngIf="shouldLoad">
    </div>
    <div class="buttons-container">
      <button class="button agree-button" (click)="onClick()">
        Agree
      </button>
      <button class="button decline-button" (click)="onClick()">
        Decline
      </button>
    </div>
  </div>
  <div class="container challenges_container" *ngIf="showChallenges === true">
    <div class="challenge" *ngFor="let challenge of challenges">
      <div class="text">{{challenge.text}}</div>
      <div class="buttons-data" >
        <input type="checkbox" checked *ngIf="challenge.checked === true" disabled>
        <button class="button" *ngIf="challenge.checked === false" (click)="onChallengeClick(challenge)">=></button>
      </div>
    </div>
  </div>
</div>
